body {
    background: no-repeat center center fixed;
    background: url("https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}