body {
    background: no-repeat center center fixed;
    background: url("https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.spacer {
    font-family: VT323;
    font-size: 50px;
    color: cornflowerblue;
    position: relative;
    width: 350px;
    height: inherit;
    line-height: 45px;
    margin: 0 auto;
    padding: 0.5%;
    background-color: dimgrey;
    border-radius: 85px;
}

.spacer1 {
    padding: 5%;
}

.pad {
    position: absolute;
    width: 1em;
    height: 1em;
    overflow: hidden;

    margin: 50px 0 70px 65px;
    z-index: 1;
}

.green {
    left: 60px;
    top: 25px;

    
    box-shadow:
    0 0 0 1em #00cc00,
    0 1em 0 1em #00cc00,
    -2.5em 1.5em 0 .5em #00cc00,
    2.5em 1.5em 0 .5em #00cc00,
    -3em -3em 0 0 #00cc00,
    3em -3em 0 0 #00cc00,
    -2em -2em 0 0 #00cc00,
    2em -2em 0 0 #00cc00,
    -3em -1em 0 0 #00cc00,
    -2em -1em 0 0 #00cc00,
    2em -1em 0 0 #00cc00,
    3em -1em 0 0 #00cc00,
    -4em 0 0 0 #00cc00,
    -3em 0 0 0 #00cc00,
    3em 0 0 0 #00cc00,
    4em 0 0 0 #00cc00,
    -5em 1em 0 0 #00cc00,
    -4em 1em 0 0 #00cc00,
    4em 1em 0 0 #00cc00,
    5em 1em 0 0 #00cc00,
    -5em 2em 0 0 #00cc00,
    5em 2em 0 0 #00cc00,
    -5em 3em 0 0 #00cc00,
    -3em 3em 0 0 #00cc00,
    3em 3em 0 0 #00cc00,
    5em 3em 0 0 #00cc00,
    -2em 4em 0 0 #00cc00,
    -1em 4em 0 0 #00cc00,
    1em 4em 0 0 #00cc00,
    2em 4em 0 0 #00cc00;

    background: #00cc00;
}

.green-active {
  background-color: darkgreen !important;
}

.blue {
    left: 280px;
    top: 25px;

    box-shadow:
    0 0 0 1em #00e5e6,
    0 1em 0 1em #00e5e6,
    -2.5em 1.5em 0 .5em #00e5e6,
    2.5em 1.5em 0 .5em #00e5e6,
    -3em -3em 0 0 #00e5e6,
    3em -3em 0 0 #00e5e6,
    -2em -2em 0 0 #00e5e6,
    2em -2em 0 0 #00e5e6,
    -3em -1em 0 0 #00e5e6,
    -2em -1em 0 0 #00e5e6,
    2em -1em 0 0 #00e5e6,
    3em -1em 0 0 #00e5e6,
    -4em 0 0 0 #00e5e6,
    -3em 0 0 0 #00e5e6,
    3em 0 0 0 #00e5e6,
    4em 0 0 0 #00e5e6,
    -5em 1em 0 0 #00e5e6,
    -4em 1em 0 0 #00e5e6,
    4em 1em 0 0 #00e5e6,
    5em 1em 0 0 #00e5e6,
    -5em 2em 0 0 #00e5e6,
    5em 2em 0 0 #00e5e6,
    -5em 3em 0 0 #00e5e6,
    -3em 3em 0 0 #00e5e6,
    3em 3em 0 0 #00e5e6,
    5em 3em 0 0 #00e5e6,
    -2em 4em 0 0 #00e5e6,
    -1em 4em 0 0 #00e5e6,
    1em 4em 0 0 #00e5e6,
    2em 4em 0 0 #00e5e6;

    background: #00e5e6;
}

.blue-active {
  background-color: darkblue !important;
}

.red {
    position: absolute;
    left: 60px;
    top: 250px;
    
    box-shadow:
    0 0 0 1em #cc0000,
    0 1em 0 1em #cc0000,
    -2.5em 1.5em 0 .5em #cc0000,
    2.5em 1.5em 0 .5em #cc0000,
    -3em -3em 0 0 #cc0000,
    3em -3em 0 0 #cc0000,
    -2em -2em 0 0 #cc0000,
    2em -2em 0 0 #cc0000,
    -3em -1em 0 0 #cc0000,
    -2em -1em 0 0 #cc0000,
    2em -1em 0 0 #cc0000,
    3em -1em 0 0 #cc0000,
    -4em 0 0 0 #cc0000,
    -3em 0 0 0 #cc0000,
    3em 0 0 0 #cc0000,
    4em 0 0 0 #cc0000,
    -5em 1em 0 0 #cc0000,
    -4em 1em 0 0 #cc0000,
    4em 1em 0 0 #cc0000,
    5em 1em 0 0 #cc0000,
    -5em 2em 0 0 #cc0000,
    5em 2em 0 0 #cc0000,
    -5em 3em 0 0 #cc0000,
    -3em 3em 0 0 #cc0000,
    3em 3em 0 0 #cc0000,
    5em 3em 0 0 #cc0000,
    -2em 4em 0 0 #cc0000,
    -1em 4em 0 0 #cc0000,
    1em 4em 0 0 #cc0000,
    2em 4em 0 0 #cc0000;

    background: #cc0000;
}

.red-active {
  background-color: darkred !important;
}

.yellow {
    left: 280px;
    top: 250px;
    background-color: #e5e600;

    box-shadow:
    0 0 0 1em #e5e600,
    0 1em 0 1em #e5e600,
    -2.5em 1.5em 0 .5em #e5e600,
    2.5em 1.5em 0 .5em #e5e600,
    -3em -3em 0 0 #e5e600,
    3em -3em 0 0 #e5e600,
    -2em -2em 0 0 #e5e600,
    2em -2em 0 0 #e5e600,
    -3em -1em 0 0 #e5e600,
    -2em -1em 0 0 #e5e600,
    2em -1em 0 0 #e5e600,
    3em -1em 0 0 #e5e600,
    -4em 0 0 0 #e5e600,
    -3em 0 0 0 #e5e600,
    3em 0 0 0 #e5e600,
    4em 0 0 0 #e5e600,
    -5em 1em 0 0 #e5e600,
    -4em 1em 0 0 #e5e600,
    4em 1em 0 0 #e5e600,
    5em 1em 0 0 #e5e600,
    -5em 2em 0 0 #e5e600,
    5em 2em 0 0 #e5e600,
    -5em 3em 0 0 #e5e600,
    -3em 3em 0 0 #e5e600,
    3em 3em 0 0 #e5e600,
    5em 3em 0 0 #e5e600,
    -2em 4em 0 0 #e5e600,
    -1em 4em 0 0 #e5e600,
    1em 4em 0 0 #e5e600,
    2em 4em 0 0 #e5e600;

    background: #e5e600;
}

.yellow-active {
  background-color: #e6d47e !important;
}

#gameboard {
    width: 500px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    background-color: rgba(40, 40, 40, 0.95);
    box-shadow: 0 0 15px rgb(40, 40, 40);
    border-radius: 50% / 20%;
    z-index: 2;
}

#controls {
    width: 400px;
    height: 80px;
    position: inherit;
    top: 160px;
    left: 40px;
    border-radius: 50px;
    background-color: rgb(150, 150, 150);
    margin: 0px;
}

.display-box {
  position: absolute;
  left: 300px;
  top: 20px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #32050C;
  width: 60px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;    
}

.display {
    color: rgba(215, 0, 0, 0.5);
    font-family: VT323;
    font-size: 40px;
    text-align: center;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.text-help, p {
  font-family: Ubuntu Condensed;
  text-align: center;
  margin-left: 15px;
}

.start-box {
  position: absolute;
  top: 25px;
  left: 20px;
}

.start {
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 100%;
  border: 3px solid black;
  box-shadow: 0px 4px 10px -2px black;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.start:active {
  box-shadow: 0px 0px 0px 0px black;
  top: 5px;
}

.strict-box {
  position: absolute;
  top: 25px;
  left: 90px;
}

.strict {
  width: 25px;
  height: 25px;
  background-color: yellow;
  border-radius: 100%;
  border: 3px solid black;
  box-shadow: 0px 4px 10px -2px black;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.strict:active {
  box-shadow: 0 0 0 0 black;
  top: 2px;
}

.switch-container {
  position: absolute;
  top: 25px;
  left: 170px;
}

.outter-switch {
  border: solid 2px black;
  width: 60px;
  height: 25px;
  background-color: black;
  border-radius: 50px;
}

.outter-active {
  background-color: gray !important;
}

.inner-switch {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 18px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
}

.inner-inactive {
  background-color: black !important;
  left: 33px;
}







